<!DOCTYPE html>
<html lang="en">

  {% include themes/agency/modules/head.html %}


    <body id="page-top" class="index">

        <div id="wrap">
            {% include themes/agency/modules/header.html %}
            {% if page.path == "index.md" %}
                {% include themes/agency/modules/about.html %}
                {% include themes/agency/modules/skills.html %}
                {% include themes/agency/modules/portfolio_grid.html %}
                {% include themes/agency/modules/blog.html %}
                {% include themes/agency/modules/contact.html %}
            {% endif %}
        </div>

        {% if page.path == "blog.md" %}
            {% include themes/agency/modules/blog.html %}
        {% elsif page.path != "index.md" %}
            {{ content }}
        {% endif %}

        {% include themes/agency/modules/footer.html %}
        {% if page.path == "index.md" %}
            {% include themes/agency/modules/modals.html %}
        {% endif %}
        {% include themes/agency/modules/js.html %}

        {% include JB/analytics %}

    </body>
</html>
