<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% if page.path == "index.md" %}#page-top{% else %}{{ HOME_PATH }}{% endif %}">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path != "index.md" %}{{ HOME_PATH }}{% endif %}#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path != "index.md" %}{{ HOME_PATH }}{% endif %}#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path != "index.md" %}{{ HOME_PATH }}{% endif %}#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path != "index.md" %}{{ HOME_PATH }}{% endif %}#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path == "index.md" %}#blog{% else %}{{ HOME_PATH }}blog.html{% endif %}">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% if page.path != "index.md" %}{{ HOME_PATH }}{% endif %}#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% if page.path == "index.md" %}
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Our Studio!</div>
                    <div class="intro-heading">It's Nice To Meet You</div>
                    <a href="#about" class="page-scroll btn btn-xl">Explore</a>
                </div>
            </div>
        </header>
    {% endif %}
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
